/* Base styles for container */
.container {
    display: flex;
    flex-direction: column; /* Stack content vertically by default (mobile-first) */
    align-items: center;     /* Center content horizontally */
    border-radius: 0.625rem;
    overflow: hidden;
    margin: 1.25rem auto;
    max-width: 375px;
  }
  
  /* Style for product image */
  .product-image img {
    width: 100%;        /* Ensure the image takes the full width of the container */
    height: auto;       /* Maintain aspect ratio */
    object-fit: cover;  /* Make sure the image fills the space */
  }

  .product-details {
    width: 100%;
    background-color: $white-hsl;
    padding: 32px;
    box-sizing: border-box; 
  }

.product-details > div { /* Style the container for prices */
  display: flex;          /* Use flexbox for inline alignment */
  align-items: center; 
  gap: $spacing-3;   /* Vertically align prices */
}

.product-button {
  background-color: $green-500;
  padding: 16px 32px;
  width: 286px;
  height: 50px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

}

.product-button:hover {
  background-color: $green-700;

}

.product-button-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.product-original-price {
  text-decoration: line-through;
}

  
  /* Tablet and larger (Side-by-Side Layout) */
  @media (min-width: 768px) {
    .container {
      flex-direction: row; /* Arrange items side by side on tablets and larger */
      align-items: stretch;
      max-width: 600px;
    }
  
    .product-image {
      max-width: 40%; /* Limit image width to 40% of the container on larger screens */
      max-width: none;
    }

    
    .product-image img {
      border-radius: 10px 0 0 10px; /* Rounded corners on left */
      height: 100%; /* Make the image take up all the height*/
      object-fit: cover; /*prevent image from distorting*/
  }

  .product-details {
      border-radius: 0 10px 10px 0; /* Rounded corners on right */
  }
  }