// Hex Colors
$black: #1c232b;
$grey: #6c7289;
$cream: #f2eae2;
$white: #ffffff;
$green-500: #3d8168;
$green-700: #1a4032;

// RGB Colors
$black-rgb: rgb(28, 35, 43);
$grey-rgb: rgb(108, 114, 137);
$cream-rgb: rgb(242, 234, 226);
$white-rgb: rgb(255, 255, 255);
$green-500-rgb: rgb(61, 129, 104);
$green-700-rgb: rgb(26, 64, 50);

// HSL Colors
$black-hsl: hsl(212, 21%, 14%);
$grey-hsl: hsl(228, 12%, 48%);
$cream-hsl: hsl(30, 38%, 92%);
$white-hsl: hsl(0, 0%, 100%);
$green-500-hsl: hsl(158, 36%, 37%);
$green-700-hsl: hsl(158, 42%, 18%);

// Font-Family
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Fraunces', serif;

// Spacing
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 1rem; // 16px
$spacing-4: 1.5rem; // 24px
$spacing-5: 2.5rem; // 40px

// Additional Spacing for Flexibility
$spacing-6: 3.5rem;  // 56px
$spacing-7: 7.25rem; // 116px
$spacing-8: 10rem;   // 160px
$spacing-9: 11.5rem; // 184px
$spacing-10: 14.5rem; // 232px
$spacing-11: 17.5rem; // 280px
$spacing-12: 18rem;   // 288px
$spacing-13: 18.125rem; // 289px
$spacing-14: 18.25rem; // 292px
$spacing-15: 26.25rem; // 420px